<div id="orders-app" class="container"  v-show="visible">

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="actives" role="tabpanel" aria-labelledby="home-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="my-3 p-3 bg-white rounded shadow-sm">
                            <div>
                                <h6 class="d-inline-block border-bottom border-gray pb-2 mb-0">Orders</h6>
                                <div class="d-inline-block" style="float: right">
                                    <a href="#" class="d-inline-block mx-2" v-on:click="exportOrdersAsPDF">Export PDF</a>
                                    <a href="/api/supervisor/orders/get-csv" class="d-inline-block mx-2">Export CSV</a>
                                    <a href="/api/supervisor/orders/get-xlsx" class="d-inline-block mx-2">Export XLS</a>
                                    <a href="#" class="d-inline-block mx-2" v-on:click="printTheOrders">Print</a>
                                </div>
                            </div>

                            <div id="divToBePrinted">
                                {% raw %}

                                <div class="media text-muted pt-3" v-for="(index, order) in orders" v-show="!order.supervisor_picture">
                                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <div>
                                                <strong class="text-gray-dark">{{ order.address }}</strong> (<span>{{ order.id }}</span>)
                                            </div>
                                            <div>
                                                <a href="#" v-on:click="viewOrder(order.id)">View</a>
                                                <span>-</span>
                                                <a href="#" data-toggle="modal" data-target="#order-create" v-on:click="editOrder(index)">Edit</a>
                                                <span>-</span>
                                                <a href="#" v-on:click="deleteOrder(index)">Delete</a>
                                            </div>
                                        </div>
                                        <span class="d-block">type: {{ order.kind.order_type }} - state: {{ order.state.state }}</span>
                                    </div>
                                </div>

                                {% endraw %}
                            </div>
                
                        </div>
                    </div>
                
                    <div class="col-md-2">
                        <br>
                        <br>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#order-create">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                                Create
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#xlsx-upload">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                                    Create From XLSX
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/api/supervisor/orders/generate/sample-xlsx" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                                    Download Sample XLSX
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="profile-tab">

            <div class="col-md-10">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <h6 class="border-bottom border-gray pb-2 mb-0">Orders</h6>
                    
                    {% raw %}
        
                    <div class="media text-muted pt-3" v-for="(index, order) in orders" v-show="order.supervisor_picture">
                        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div>
                                    <strong class="text-gray-dark">{{ order.address }}</strong> (<span>{{ order.id }}</span>)
                                </div>
                                <div>
                                    <a href="#" v-on:click="viewOrder(order.id)">View</a>
                                    <span>-</span>
                                    <a href="#" data-toggle="modal" data-target="#order-create" v-on:click="editOrder(index)">Edit</a>
                                    <span>-</span>
                                    <a href="#" v-on:click="deleteOrder(index)">Delete</a>
                                </div>
                            </div>
                            <span class="d-block">type: {{ order.kind.order_type }} - state: {{ order.state.state }}</span>
                        </div>
                    </div>
        
                    {% endraw %}
        
                </div>
            </div>

        </div>

    </div>

    {% include 'partials/supervisor/order_modal.html' %}

</div>

