<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="ncarrasquel">
    <title>{{ credentials['role'].capitalize() }}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fileinput.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fileinput-rtl.min.css') }}" rel="stylesheet">
    <meta name="theme-color" content="#563d7c">

    <style>

        .nav-tabs {
            border-bottom: 1px solid #dee2e6;
        }

        .tab-pane {
            margin: 10px;
        }

        .tab-container {
            margin: 25px;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body id="company-detail-app">
    <input type="hidden" id="api-key" name="api-key" value="{{ credentials['api-key'] }}" v-model="apiKey">
    <input type="hidden" id="company-id" name="company-id" value="{{ company_id }}" v-model="companyId">
    <input type="hidden" id="username" name="username" value="{{ credentials['username'] }}" v-model="username">

    <header>
        <div class="bg-dark collapse" id="navbarHeader" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">Supervisor</h4>
                        <p class="text-muted">
                            In this section you can do supervisor tasks in PAMS.
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Actions</h4>
                        <ul class="list-unstyled">
                            <li><a href="/logout" class="text-white">logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container d-flex justify-content-between">
            <a href="{{ url_for('home.home_page') }}" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>Property Addresses Management System</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
        </div>
    </header>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('auth.login') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('auth.login') }}">{{ credentials['role'].capitalize() }}</a></li>
            
            {% raw %}
            
            <li class="breadcrumb-item"><a href="#">{{ company.name }}</a></li>
            
            {% endraw %}

        </ol>
    </nav>

    <main role="main">

        <br>
        
        {% raw %}

        <div class="container">
            <div class="row border rounded mb-4">
                
                <div class="col-md-12">
                    <div class="row no-gutters overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                        <div class="col-md-12 p-4 d-flex flex-column position-static">
                            <h2>Company Details</h2>
                            <div>
                                <span>Company: </span><strong class="d-inline-block mb-2 text-primary">{{ company.name }}</strong>
                            </div>
                            <h3 class="mb-0">{{ order.address }}</h3>
                            <div class="mb-1 text-muted">{{ company.website }}</div>
                            <div>
                                <span>User: </span><a href="#" class="stretched-link">{{ company.user }}</a>
                                <span> - Password: </span>
                                <a href="#" class="stretched-link" v-if="view_password" v-on:click="togglePassword">
                                    {{ company.password }}
                                </a>
                                <a href="#" class="stretched-link" v-else v-on:click="togglePassword">
                                    {{ "*".repeat(company.password.length) }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endraw %}

    </main>

    {% include 'partials/footer.html' %}
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue-resource.js') }}"></script>

    <script src="{{ url_for('static', filename='js/company-detail-app.js') }}"></script>

</body>
</html>