<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMS - Login</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/form-validation.css') }}" rel="stylesheet">

</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="{{ url_for('home.home_page') }}" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                    <strong>Property Addresses Management System</strong>
                </a>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="py-5 text-center">
            <h2>Login</h2>
            <p class="lead">
                Please provide your credentials.
            </p>
        </div>
      
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Your username is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="password" required="">
                            <div class="invalid-feedback">
                                Valid password is required.
                            </div>
                        </div>
                    </div>
        
                
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">Property Address Management System</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>

    <!-- External libraries -->

    <script src="{{ url_for('static', filename='js/external/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/external/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/external/form-validation.js') }}"></script>
    
  </body>
</html>