<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="ncarrasquel">
    <title>Supervisor/Manager</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
    <meta name="theme-color" content="#563d7c">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body id="app">
    <input type="hidden" id="api-key" name="api-key" value="{{ credentials['api-key'] }}" v-model="apiKey">
    <input type="hidden" id="username" name="username" value="{{ credentials['username'] }}" v-model="username">
    
    <header>
        <div class="bg-dark collapse" id="navbarHeader" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">Manager</h4>
                        <p class="text-muted">
                            In this section you can manager PAMS.
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Actions</h4>
                        <ul class="list-unstyled">
                            <li><a href="/logout" class="text-white">logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container d-flex justify-content-between">
            <a href="{{ url_for('home.home_page') }}" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>Property Addresses Management System</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
        </div>
    </header>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('auth.login') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('manager.manager_page') }}">Manager</a></li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <h6 class="border-bottom border-gray pb-2 mb-0">Orders</h6>
                    
                    <br>

                    {% raw %}
        
                    <table id="orders-table" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Address</th>
                                <th>Due Date</th>
                                <th>Company</th>
                                <th>Research User</th>
                                <th>Data User</th>
                                <th>Order State</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>Order Id</th>
                                <th>Address</th>
                                <th>Due Date</th>
                                <th>Company</th>
                                <th>Research User</th>
                                <th>Data User</th>
                                <th>Order State</th>
                                <th>View</th>
                            </tr>
                        </tfoot>
                    </table>
        
                    {% endraw %}
        
                </div>
            </div>

        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue-resource.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/manager-app.js') }}"></script>

</body>
</html>